Django==2.1.9
Jinja2==2.10.1
MarkupSafe==1.1.1
appdirs==1.4.3
attrs==19.1.0
cached-property==1.5.1
certifi==2019.6.16
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.6.0
django-rest-swagger==2.2.0
djangorestframework==3.9.4
idna==2.8
isodate==0.6.0
itypes==1.1.0
lxml==4.2.5
openapi-codec==1.3.2
pytz==2019.1
requests==2.22.0
requests-toolbelt==0.9.1
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.3
zeep==3.4.0
