<!DOCTYPE html>
<html lang="es">
<head>
    <title>TURICOR - IAEW 2019</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="/web/src/angular-1.7.8/angular.min.js" type="application/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-resource.js"></script>
    <script src="/web/src/app.js" type="application/javascript"></script>
</head>
<body ng-app="turicor">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">IAEW 2019 - TURICOR</a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarCollapse" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/auth/login/google-oauth2">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" role="main">
    <div class="jumbotron" ng-controller="reservasCtrl">
        <h1>{{ title }}</h1>
        <div ng-show="vehiculos == null">
            <form>
                <div class="form-group">
                    <label>Vendedor</label>
                    <select class="form-control" ng-model="reserva.vendedor"
                            ng-options="vendedor.nombre for vendedor in vendedor"></select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label>País</label>
                            <select class="form-control" ng-change="updateCiudades()" ng-model="reserva.pais"
                                    ng-options="pais.nombre for pais in paises"></select>
                        </div>
                        <div class="col-6">
                            <label>Ciudad</label>
                            <select class="form-control" ng-model="reserva.ciudad"
                                    ng-options="ciudad.nombre for ciudad in ciudades"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label>Desde</label>
                            <input class="form-control" ng-model="reserva.desde" type="text">
                        </div>
                        <div class="col-6">
                            <label>Hasta</label>
                            <input class="form-control" ng-model="reserva.hasta" type="text">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="buscarVehiculos()" type="submit">Buscar</button>
            </form>
        </div>
        <div ng-show="vehiculos != null">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Disponibles</th>
                    <th>Precio</th>
                    <th>Puntaje</th>
                    <th>Pueras</th>
                    <th>Aire Acond.</th>
                    <th>Direccion Asis.</th>
                    <th>Tipo Cambio</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="vehiculo in vehiculos">
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.cantidad_disponible }}</td>
                    <td>{{ vehiculo.precio_alquiler|currency }}</td>
                    <td>{{ vehiculo.descripcion.puntaje }}</td>
                    <td>{{ vehiculo.descripcion.cantidad_puertas }}</td>
                    <td>{{ vehiculo.descripcion.aire_acondicionado ? 'Si' : 'No' }}</td>
                    <td>{{ vehiculo.descripcion.direccion_asistida ? 'Si' : 'No'}}</td>
                    <td>{{ vehiculo.descripcion.tipo_cambio }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>